$purplePrimary: white;
$purpleDark: #4A5374;
$purpleLight: #888DA6;

$darkPrimary: black;
$darkDark: black;
$darkLight: black;

$green: #75b800;
$gray-light: #eef1f3;
$bar-bg: rgba(0,0,0,0.075);
$bar-size: 5px;
$bar-radius: 60px;