#cropper-container .image-item > div[data-crop="true"] > img {
    cursor: all-scroll;
}

#cropper-container .cropper-container .cross-drag{
    display: none !important;
}

#cropper-container .ui-slider .ui-slider-handle{
    cursor: pointer;
}

#cropper-container .cropper-container .slider{
    display: block !important;
}
#cropper-container #main-section .image-container .image-item > div[data-crop="true"] .border-frame{
    cursor: all-scroll;
}

#cropper-container #main-section{
    max-height: none !important;
}