#cropper-container {
  background: #f5f8fa;
  border-radius: 10px;
  padding: 5px;
  #toolbar {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.4);
    height: 50px;
    padding: 0 15px;
    border: none;
    .bp3-navbar-group > *{
      margin: 0 5px;
    }
  }

  #main-section {
    border-radius: 0 0 10px 10px;
    background: white;
    padding: 10px;
    display: flex;
    justify-content: start;

    .image-item{
      position: relative;
      overflow: hidden;
      margin: 1rem .8rem;
      width: 280px;
      height: 180px;
      border: 1px solid #bdc0c2;
      display: flex;
      justify-content: center;
      align-items: center;
      & > div{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
      }
    }
  }
}

.photo-sizes {
  width: 400px;
}

.panel {
  width: 100%;
  height: auto;
  max-height: calc(100vh - 20%);
}

.cropper-container:hover .cross-drag{
  display: block;
}
.cropper-container:hover .slider{
  display: block;
}

.cropper-container .slider{
  position: absolute;
  top: 20px;
  z-index: 100;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;

}
.cropper-container .ui-slider {
  margin-top: 20px;
  height: 3px;
  border: none;
  background: #ff5b63;
}
.cropper-container .ui-state-default, .cropper-container  .ui-widget-content .ui-state-default, .cropper-container  .ui-widget-header .ui-state-default {
  background: #ff5b63;
  border-radius: 25px;
  outline: none;
  border: none;
  position: absolute;
  top: -7px;
}
.cropper-container .ui-widget.ui-widget-content{
  border: none;
}
.cropper-container .ui-slider-horizontal .ui-slider-range {
  background: #e9ecf1
}

.cropper-container{
  .ui-slider{
    .ui-slider-handle{
      width: 15px;
      height: 15px;
    }
  }
}

.cut-line{
  position: absolute;
  background: rgba(74, 74, 74, 0.57);
  z-index: 100;
}
.cut-line.line-left{
  left: 0;
  width: 10px;
  top: 0;
  height: 100%;
  border-right: 2px dashed white;
}
.cut-line.line-right{
  right: 0;
  width: 10px;
  top: 0;
  height: 100%;
  border-left: 2px dashed white;
}

.cut-line.line-top{
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  width: 100%;
  border-bottom: 2px dashed white;
}
.cut-line.line-bottom{
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  width: 100%;
  border-top: 2px dashed white;
}
.cross-drag{
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.61);
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  display: none;
  z-index: 101;
  cursor: all-scroll;
}