@import "variables";
@import "mixins";

#cropper-container {
  background: #c8d5dd;
  border-radius: 0px;
  padding: 0px;
  width: 90%;
  margin: 100px auto;
  border: 1px solid #8faaa3;
  //position: relative;
  @import "bootstrap/scss/bootstrap";


  @include mobile-only {
    width: 100%;
  }

  input {
    color: #000;
  }

  .spinner-container {
    position: absolute;
    top: 61px;
    width: 100%;
    background: #bdd0c178;
    z-index: 9;
    height: calc(100% - 61px);
  }

  .spinner {
    position: relative;
    top: 20%;
    left: 0;
    z-index: 999;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    background-clip: padding-box;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px solid rgba(87, 87, 87, 0.34);
    -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
    transform-origin: 50% 60%;
    transform: perspective(200px) rotateX(66deg);
    animation: spinner-wiggle 1.2s infinite;
  }

  .spinner:before,
  .spinner:after {
    content: "";
    position: absolute;
    margin: -4px;
    box-sizing: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    opacity: .05;
    border: inherit;
    border-color: transparent;
    animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
  }

  .spinner:before {
    border-top-color: #66e6ff;
  }

  .spinner:after {
    border-top-color: #f0db75;
    animation-delay: 0.3s;
  }

  @keyframes spinner-spin {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spinner-fade {
    20% {
      opacity: .1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: .1;
    }
  }

  #toolbar {
    //box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.4);
    padding: 15px;
    border: none;
    font-size: 13px;
    background: #343434;
    color: white;

    .select-items > * {
      display: inline-block;

      &.pretty {
        margin-left: 5px;
      }
    }

    .bp3-navbar-group {

      @include mobile-only {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }

      & > * {
        margin: 0 5px;
        display: inline-block;

        & > span{
          font-size: 12px;
          color: #b5b5b5;
        }

        &:not(.select-items) > * {
          @include mobile-only {
            width: 100%;
          }
        }

        @include mobile-only {
          margin: 10px;
          display: flex;
          flex-basis: calc(50% - 20px);
          text-align: center;
        }
      }

      & > .select-items {
        @include mobile-only {
          flex-basis: 100%;
          display: block;
        }
      }

      & > .btn {
        @include mobile-only {
          flex-basis: 100%;
          display: block;
        }
      }

    }

    .dropdown.size .dropdown-menu.show, .dropdown.size.open .dropdown-menu {
      display: flex;
      width: 400px;
      flex-wrap: wrap;
      max-width: 350px;

      & > * {
        width: 30%;
      }
    }

    .progressbar-container {
      background: $bar-bg;
      width: 200px;
    }

    .right-toolbar-tools {
      float: right;
      margin-top: 17px;

      @include mobile-only {
        flex-basis: 100%;
        margin-top: 0;
      }

      & > * {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
        align-self: center;
      }
    }
  }

  #main-section {
    border-radius: 0;
    background: #343434;
    padding: 10px;
    display: flex;
    justify-content: start;
    z-index: 1;
    flex-wrap: wrap;
    box-shadow: inset 0 3px 7px -6px #000;
    overflow-y: auto;
    position: relative;

    .placeholder {
      padding: 100px;
      width: 100%;
      text-align: center;
    }

    @include mobile-only {
      max-height: 500px;
      justify-content: center;
    }

    .scroll-content {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      width: 100%;
      @include mobile-only {
        flex-direction: column;
      }
    }

    .image-container {
      margin: 1rem .8rem;

      .tools {

        padding-bottom: 0;
        display: inline-block;
        width: 100%;

        & > * {
          display: inline-block;
          vertical-align: middle;
        }

        & > span {
          display: inline-block;
          background: yellow;
          height: 22px;
          width: 22px;
          text-align: center;
          border-radius: 2px;
          float: right;
          cursor: pointer;
        }

        & > span.warning {
          display: block;
          font-style: italic;
          font-size: 14px;
          font-weight: bold;
          text-align: center;
        }

        .pretty {
          font-size: 20px;
          height: 18px;
          margin-right: 0;
          float: left;
        }

        .item-manipulation {
          width: 22px;
          height: 22px;
          background: white;
          text-align: center;
          line-height: 19px;
          color: white;
          border-radius: 3px;
          cursor: pointer;
          float: right;
          margin-left: 10px;
        }

      }


      .cropper-container {


        &:hover .cross-drag, &.active .cross-drag {
          display: block;
        }

        &:hover .slider, &.active .slider {
          display: block;
        }

        .slider {
          position: absolute;
          top: 20px;
          z-index: 100;
          width: 80%;
          left: 0;
          right: 0;
          margin: 0 auto;
          display: none;
        }

        .ui-slider {
          margin-top: 0;
          height: 3px;
          border: none;
          background: #ff5b63;

          .ui-slider-handle {
            width: 15px !important;
            height: 15px !important;
            margin: 0 !important;
            @include mobile-only {
              width: 20px !important;
              height: 20px !important;
            }
          }
        }


        .cross-drag {
          position: absolute;
          top: 50%;
          left: 50%;
          background: rgba(255, 255, 255, 0.61);
          width: 20px;
          height: 20px;
          margin-left: -10px;
          margin-top: -10px;
          line-height: 20px;
          text-align: center;
          border-radius: 50px;
          display: none;
          z-index: 101;
          cursor: all-scroll;
          font-size: 10px;

          @include mobile-only {
            width: 50px;
            height: 50px;
            margin-left: -25px;
            margin-top: -25px;
            line-height: 50px;
            font-size: 14px;
          }
        }

      }

      .image-item {
        position: relative;
        overflow: hidden;
        width: 280px;
        height: 180px;
        border: 1px solid #bdc0c2;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;


        & > div {
          width: 100%;
          height: 100%;
          //overflow: hidden;
          position: relative;
          // box-shadow: 0px 0px 4px 1px #d73b3b;

          & > img {
            background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
            background-size: 20px 20px;
            background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
          }

          .border-frame {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
          }

          & > .hidden {
            display: none;
          }
        }


        .lds-ring {
          display: inline-block;
          width: 64px;
          height: 64px;
          margin: 0 auto;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-32px) translateY(-32px);
        }
      }
    }
  }


  #pagination-bar {

    & > div {
      background: #e1e2ee;
      width: 100%;
      height: auto;
      padding: 5px;
    }

    ul.pagination {
      margin: 0;
    }
  }

  .photo-sizes {
    width: 400px;
  }

  .panel {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 20%);
  }


  .cropper-container .ui-state-default, .cropper-container .ui-widget-content .ui-state-default, .cropper-container .ui-widget-header .ui-state-default {
    background: #ff5b63;
    border-radius: 25px;
    outline: none;
    border: none;
    position: absolute;
    top: -6px;
    @include mobile-only {
      top: -9px;
    }
  }

  .cropper-container .ui-widget.ui-widget-content {
    border: none;
  }

  .cropper-container .ui-slider-horizontal .ui-slider-range {
    background: #e9ecf1
  }


  .offset-line {
    position: absolute;
    background: white;

    &.line-top {
      top: 0;
      width: 100%;
    }

    &.line-bottom {
      bottom: 0;
      width: 100%;
    }

    &.line-left {
      left: 0;
      top: 0;
      height: 100%;
    }

    &.line-right {
      right: 0;
      top: 0;
      height: 100%;
    }
  }

  #popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #border-popup {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 101;
    border-radius: 10px;
    height: auto;
    background: white;
    padding: 15px;
    max-width: 300px;
    min-width: 300px;
    text-align: center;
    box-shadow: 0 0 8px -1px #000;

    @include mobile-only{
      width: 90%;
    }

    &:before{
      content:'';
      display:block;
      width:0;
      height:0;
      position:absolute;
    }

    &.right:before{
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid white;
      left:-10px;
      top:9px;
    }

    &.left:before{

      border-left: 10px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      right:-10px;
      top:9px;
    }
    &.top:before{

      border-bottom: 10px solid #fff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      left: 15px;
      top: -10px;
    }

    .close{
      position: absolute;
      top: 10px;
      right: 10px;
      background: #cc4d4d;
      color: #fff;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border: 50px;
      display: block;
      border-radius: 50px;
      font-size: 15px;
      line-height: 29px;
      text-align: center;
    }

    #border-size {
      display: flex;
      flex-direction: row;
      height: 45px;
      align-items: center;
      justify-content: center;

      label {
        font-size: 12px;
        margin: 0 10px 0 0;
      }

      input {
        width: 70px;
        font-size: 13px;
        color: #191919;
        height: 25px;
      }
    }

    .a-color-picker{
      box-shadow: none;
    }
  }
}

.cut-line {
  position: absolute;
  background: rgba(223, 223, 223, 0.57);
  z-index: 100;
}

.cut-line.line-left {
  left: 0;
  // width: 10px;
  top: 0;
  height: 100%;
  border-right: 2px dashed white;
}

.cut-line.line-right {
  right: 0;
  //width: 10px;
  top: 0;
  height: 100%;
  border-left: 2px dashed white;
}

.cut-line.line-top {
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  width: 100%;
  border-bottom: 2px dashed white;
}

.cut-line.line-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  width: 100%;
  border-top: 2px dashed white;
}


.lds-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tline{
  position: absolute !important;
  background: #FFF;
  z-index: 99999;
}
